body{
	background-image: url('bg.jpg');
	color: #000305;
	font-size: 87.5%; /*base font=14px*/
	font-family:Arial, 'lucida Sans Unicode';
	line-height:100%;
	text-align:left;
}
h2{
color:#666;
font-size:130%;
}

.image{
padding:0% 10%;

}
#fb{
height:70px;
width:70px;
}
#twitter{
height:80px;
width:80px;

}
a{
	text-decoration:none;
}
p{
color:#666;
font-size:120%;
}

a:link, a:visited{
	color:#0099FF;
	}
a:hover, a:active{
	color:#0099FF;
	
}

.body{
	margin:0 auto;
	width:90%;
	height:%;
	clear:both;
}

.mainHeader img{
	width:20%;
	height:auto;
	margin:2% 0;
}

.mainHeader nav{
	background-color:#666;
	height:40px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

.mainHeader nav ul{
	list-style:none;
	margin:0 auto;
}

.mainHeader nav ul li{
	float:left;
	display:inline;
	padding:0 1.5%;
}

.mainHeader nav a:link {
	color:#FFF;	
	display:inline-block;
	padding:10px 10px;
	height:20px;
}
.mainHeader nav a:visited{
	color:#FFF;	
	display:inline-block;
	padding:10px 10px;
	height:20px;
}

.mainHeader nav a:hover,  .mainHeader nav a:active, .mainHeader nav .active a:visited{
	background-color: #0099FF;
	text-shadow:none;
	}

.mainHeader nav ul li a{
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;

}

.mainContent{
	line-height:25px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	height:100%;
}

.content{
	width:70%;
	height:100%;
	float:left;
}


.topContent{
	background-color:#FFF;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:3% 5%;
	margin-top:0.5%;
	height:100%;
	padding:2% 3%;

}




.topBar{
	width:21%;
	float:right;
	background-color:#FFF;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin:0.5% 0 2% 3%;
	padding:2% 3%;
}



}
.newsletter:hover{
	background-color:#0099FF;
	text-shadow:none;
	border-radius:3px;
	color:#FFF;
}

.SocialMedia{
	width:20%;
	float:left;
	background-color:#FFF;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin: 1% 0 2% 3%;
	padding:3% 5%;
}
.Contact{
	width:20%;
	float:left;
	background-color:#FFF;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin: 1% 0 2% 3%;
	padding:1.7% 5%;
}
.Newsletter{
	width:20%;
	float:right;
	background-color:#FFF;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin: 1% 0 2% 3%;
	padding:2% 5%;
	padding:6% 5%;
}
.newsletter:hover{
	background-color:#0099FF;
	text-shadow:none;
	border-radius:3px;
	color:#FFF;
	font-size:105%;
}


.mainFooter{
	width:100%;
	height:40px;
	float:left;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background-color:#666;
	margin:15% 0;
	
}

.mainFooter p {
	width:92%;
	margin:10px auto;
	color:#FFF;
}
		/*this is for phone/tablet display*/
@media only screen and (min-width:150px) and (max-width:600px)
{

	.body{
		width:90%;
		font-size:95%;
		}
		
	.mainHeader img{
		width:100%;
		}

	.mainHeader nav{
	height:320px;
		}

	.mainHeader nav ul{
		padding-left:0%;
		}

	.mainHeader nav ul li{
		width:100%;
		margin:0 auto;
		text-align:center;
		}

	.mainHeader nav a:link {
		padding:10px 10px;
		height:20px;
		display:inline-block;
		}
		
	.mainHeader nav a:visited{
		color:#FFF;	
		display:inline-block;
		padding:10px 10px;
		height:20px;
		display:inline-block;
		}
		
	.mainHeader nav ul li a{
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
		}
		

	.content{
		width:100%;
		float:left;
		margin-top:2%;
	}
	
	.postInfo{
	display:none;
	}
	
	

	.SocialMedia{
	width:94%;
	margin:0.5% 0 2% 0%;
	padding:2% 3%;
	}
	.Contact{
	width:94%;
	margin:0.5% 0 2% 0%;
	padding:2% 3%;
	}
	.Newsletter{
	width:94%;
	margin:0.5% 0 2% 0%;
	padding:2% 3%;
	}

#fb{
height:35px;
width:35px;
}
#twitter{
height:35px;
width:35px;

}
}








